doctype html
html()
  head
    title Change Password
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.js")

    style.
      label{
        color: #333333;
      }

      h1{
        color: #EEEEEE;
      }

      html{
        height: 100%;
      }

      body{
        background-image: url('../paris.png');
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
      }

      #error{
        color: #FE2E2E;
      }

      .hero-unit{
        padding: 0.5% 3% 1% 1%;
        background-color: #eeeeee;
      }

      .m-right-16{
        margin-right: 16%;
      }

      .m-top--7{
        margin-top:-7%;
      }

      .m-top-3{
        margin-top:3%;
      }

      .m-top-15{
        margin-top:15%;
      }

      .m-top-10{
        margin-top:10%;
      }

      .m-left-10{
        margin-left: 10%;
      }

      .m-top-5{
        margin-top: 5%;
      }

      hr{
        margin: 21.5% auto 0 20%;
      }

      footer p{
        margin: 1% auto 0 52%;
      }

      a:hover{
        text-decoration: none;
        background-color: #333333;
        border-radius: 5px;
        color: #eeeeee;
      }

      a{
        text-decoration: none;
        color: white;
        padding: 2%;
      }

      .m-right-11{
        margin-right: 11%;
      }

      .m-right-12{
        margin-right: 12%;
      }

      .m-right-13{
        margin-right: 13%;
      }

      .m-top--2{
        margin-top: -2%;
      }

      .m-left-11{
        margin-left: 11%;
      }

      .m-top-7{
        margin-top: 7%;
      }

      .m-left-6{
        margin-left: 6%;
      }

      .m-top--3{
        margin-top:-2.7%;
      }

      .m-right-10{
        margin-right: 10%;
      }

      .centralize{
        margin-left: 32%;
      }

      .m-left-42{
        margin-left:42%;
      }

  body
    h1(class="col-xs-6 m-top-7 m-left-11") Change Password

    form(action="/change_password" method="post" class="hero-unit col-xs-4 pull-right m-right-10 m-top-3")
      p(class=" ") New password for 
      label(class="") #{email}
      br
      span(id="error" class="centralize") #{error}
      br
      label(class="centralize") New Password
      br
      input(type="password" name="password" class="centralize" required)
      br
      label(class="centralize") Confirm Password
      br
      input(type="password" name="confirmedPassword" class="centralize" required)
      br
      input(type="hidden" name="email" value="#{email}")
      input(type="submit" class="btn btn-primary btn-large m-top-5 m-left-42" id="submit")

    br
    footer(class="col-xs-10")
      hr
      p(style="color: white;")
        small Created by Cassio Greco